In [ ]:
'''
Assignment 1- Python Type Conversion
'''

Q1. Convert an integer to a floating point number

In [9]:
a = 10
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = float(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = 10 and type of a is: <class 'int'>
After conversion a = 10.0 and type of a is: <class 'float'>

Q2. Convert a float to an integer

In [10]:
a = 10.101
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = int(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = 10.101 and type of a is: <class 'float'>
After conversion a = 10 and type of a is: <class 'int'>

Q3. Convert an integer to a string

In [11]:
a = 10
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = str(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = 10 and type of a is: <class 'int'>
After conversion a = 10 and type of a is: <class 'str'>

Q4. Convert a list to a tuple

In [1]:
a = [1,2,3,4]
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = tuple(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = [1, 2, 3, 4] and type of a is: <class 'list'>
After conversion a = (1, 2, 3, 4) and type of a is: <class 'tuple'>

Q5. Convert a tuple to a list.

In [2]:
a = (1,2,3,4)
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = list(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = (1, 2, 3, 4) and type of a is: <class 'tuple'>
After conversion a = [1, 2, 3, 4] and type of a is: <class 'list'>

Q6. Convert a decimal number to binary.

In [3]:
a = 15
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = bin(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = 15 and type of a is: <class 'int'>
After conversion a = 0b1111 and type of a is: <class 'str'>

Q7. Convert a non zero number to boolean.

In [4]:
a = 10
print(f"Before conversion a = {a} and type of a is: {type(a)}")
a = bool(a)
print(f"After conversion a = {a} and type of a is: {type(a)} ")

Before conversion a = 10 and type of a is: <class 'int'>
After conversion a = True and type of a is: <class 'bool'>