In [ ]:
'''
Assignment 4 - Loops (While, For)
'''

Q1. Print numbers from 1 to 5 using a while loop.

In [1]:
a = 1
while a < 6:
    print(a)
    a+=1

1
2
3
4
5

Q2. Calculate the sum of numbers from 1 to 10 using a while loop.

In [5]:
a = 1  
add = 0    
while a < 11:
    add+=a   
    a+=1   
print("sum of numbers from 1 to 10 is : ",add)

sum of numbers from 1 to 10 is :  55

Q3. Calculate the factorial of a number using a for loop

In [8]:
#4!=4*3*2*1
n = int(input("enter the number : "))
m = 1
for i in range(1,(n+1)):
    m = m*i
print(f"factorial of {n} is : {m} ")

enter the number :  4

factorial of 4 is : 24

Q4. Count the number of vowels in a string using a for loop

In [34]:
s = input("enter a string: ")
c = 0
v = "aeiou"
for char in s:
    #if char.lower() == 'a' or 'e' or 'i' or 'o' or 'u':
    if char.lower() in v:
        c= c+1
print(f"the total number of vowels in {s} are {c}")

enter a string:  FLABBERGASTED

the total number of vowels in FLABBERGASTED are 4

Q5. Print a pattern using nested loops.

In [24]:
for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Q6. Generate a multiplication table using nested loops.

In [20]:
n = int(input("enter table number: "))
for i in range(1,11):
    for j in range(1,11):
        prod = n*i  
    print(f"{n} * {i} = {prod}")

enter table number:  14

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140